.contact-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0px;
  width: 100%;
  @include from-medium-high {
    margin: 0px 100px;
  }
}

.contact-containter {
  margin: 0px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  @include from-medium-high {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0px 0px;
  }
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  width: 100%;
  margin-top:64px;
  @include from-medium-high {
    width: 75%;
    flex-direction: row;
    margin-top:100px;

  }
}

.address {
  p {
  width: 100%;
  font-family: Gopher;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 45px;
  letter-spacing: 0px;
  margin-bottom: 0px;
  span {
    color: #CDCEB2;
  }
  @include from-medium-high {
      font-size: 36px;
    }
  }
  .small-text {
    font-size: 16px;
    @include from-medium-high {
      font-size: 24px;
    }
  }
}

.hours {
  width: 100%;
  z-index: 1000;
  @include from-medium-high {
    width: 50%;
    margin-top: 0px;
  }
}

.contact {
  p {
    width: 100%;
  }
}

.contact-photo {
  width: 100%;
  margin-right: 0px;
  margin-bottom: 24px;
  @include from-medium-high {
    margin-right: 64px;
    margin-bottom: 0px;
    width: 95%;
  }
}

.line2 {
  z-index: 1000;
  position: relative;
  margin: 10px 32px;
  @include from-medium-high {
  margin: 94px 32px;
  }
}

.blob {
  position: fixed;
  z-index: 100;
  bottom:0;
  left: 0;
  img {
    width:35vw;
  }
  @include from-medium-high {
      img {
    width:22vw;
  }
  }
}


