.wine-container {
    flex-direction: column;
    align-items: center;
    display: flex;
  justify-content: center;
  @include from-medium-high {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  }
}

.wine-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.wine-header {
  p {
  font-family: 'Gopher';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  width: 100%;
  span {
    background: #F7E3DB;
  }
  }
  margin-bottom: 32px;
}

.wine-details {
  p {
font-family: 'Gopher';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 20px;
text-align: center;
width: 100%;
  }
  margin-bottom: 32px;
}

.wine-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background: #624F41;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  a {
    color: white;
    font-family: 'Gopher';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
  }
  &:hover {
    opacity: 80%;
  }
}

.line {
}

.faq-header {
  p {
  font-family: 'Roc Grotesk';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;
  width: 100%;
  color: #624F41;
  margin: 32px 0px;
  }
}

.faq-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include from-medium-high {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 72px;
  flex-direction: row;
  }
}

.faq-questions {
}

.faq-title {
  p {
  font-family: Roc Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  width: 100%;
  span {
    background: #F7E3DB;
  }
  }
}

.faq-response {
  p {
  font-family: Gopher;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  width: 100%;
  }
}

.faq-photo {
  margin-left: 0px;
  @include from-medium-high {
    margin-left: 32px;
  }
}

