<div class="navbar">
  <div class="navbar-link">
    <a href="/about">About</a>
  </div>
    <a href="/contact">Contact</a>
    <a href="">Logo</a>
    <a href="/wineclub">Wine Club</a>
    <a href="">Menu</a>
  </div>
</div>
