<div class="containter">
  <div class="about-page">
    <div class="about-photo">
      <%= image_tag 'about.png', width:'600px'%>
    </div>
    <div class="about-text">
      <h1>About Art Du Vin</h1>
      <p>Since our opening in 2008 as a <span>woman owned business</span>, we have grown from serving wines from all around the world to a now curated all natural, organic, and biodynamic selection. <br><br>In pursuit of this growth, we offer an ever-changing range from funky to light and fizzy to bold and full-bodied. <br><br> Come visit our friendly staff to help you find the perfect glass to enjoy on our patio overlooking Long Beach’s Retro Row, or share a bottle while watching a film at the infamous Art Theatre right next door.
      <br><br>
      Cheers!
      </p>
    </div>
  </div>
</div>

