  <div class="contact-containter">
    <div class="contact-text">
      <div class="address">
        <p>Located in the <span><b>heart of Retro Row</b></span></p>
        <p class='small-text'>2027 E. 4th St., Long Beach, CA 90814.</p>
      </div>
      <div class="contact-info">
        <div class="hours">
          <p>Hours:<br>
          <b>Mon - Thurs</b> <br>
          5pm - 9pm <br>
          <b>Friday</b> <br>
          5pm - 10pm <br>
         <b>Saturday</b> <br>
         3pm - 10pm<br>
        <b>Sunday</b> <br>
         3pm - 9pm</p>
        </div>
        <div class="contact">
          <p>
            Call us at <a href="tel:5625885008">(562) 588-5008</a>
            <br><br>
            <b>For inquiries contact:</b><br>
            <a href="mailto:artduvinwinelb@gmail.com">artduvinwinelb@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="contact-photo">
      <%= image_tag 'art.png', width:'100%', alt:'Illustration of Art Du Vin on 4th street'%>
    </div>
    <div class="blob">
      <%= image_tag 'blobcontact.png', alt:'pink background' %>
    </div>
  </div>
  <div class="line2">
    <%= image_tag 'line2.png', width:'100%;', alt:'squiggily line' %>
  </div>

