  <div class="contact-containter">
    <div class="contact-text">
      <div class="address">
        <p>Located in the <span><b>heart of Retro Row</b></span></p>
        <p class='small-text'>2027 E. 4th St., Long Beach, CA 90814.</p>
      </div>
      <div class="contact-info">
        <div class="hours">
          <p>Hours:<br>
          <b>Mon - Fri</b> <br>
          5pm - close <br>
         <b>Sat - Sun</b> <br>
         3pm - close</p>
        </div>
        <div class="contact">
          <p>
            Call us at (562) 286-2634
            <br><br>
            <b>For inqueries contact:</b><br>
            Oliviaadvlb@gmail.com <br>
            jakeadvlb@gmail.com
        </div>
      </div>
    </div>
    <div class="contact-photo">
      <%= image_tag 'art.png', width:'100%'%>
    </div>
    <div class="blob">
      <%= image_tag 'blobcontact.png' %>
    </div>
  </div>
  <div class="line2">
    <%= image_tag 'line2.png', width:'100%;' %>
  </div>

