<div class="home">
  <div class="title-info">
    <div class="title">
      <h1><%= image_tag 'lb.png', width:'200px' %>Art<br> du Vin</h1>
    </div>
    <div class="home-photo">
      <%= image_tag 'home.png', width: '100%' %>
    </div>
    <div class="tagline">
      <p>Not your typical <br>natural wine bar.</p>
    </div>
  </div>
  <div class="home-line">
    <%= image_tag'line2', width:'100%;' %>
  </div>
</div>
