<div class="container">
  <div class="wine-container">
    <div class="wine-photo">
      <%= image_tag 'wineclub.png', width:'100%' %>
    </div>
    <div class="wine-text">
      <div class="wine-header">
        <p>
          We are all about sharing our finds with you.<br> Let us do the wine picking and surprise you with hand-selected bottles that reflect Art Du Vin’s philosophy of <span>quality</span>, <span>sustainability</span> and <span>taste.</span>
        </p>
      </div>
      <div class="wine-details">
        <p>3 bottles per month at $50-60<br>Red, White & Surprise or choose the same for all three.</p>
      </div>
      <div class="wine-button">
        <div class="button">
          <a href="">Join Our Wine Club</a>
        </div>
      </div>
    </div>
  </div>
  <div class="line">
    <%= image_tag 'line.png', width:'100%'; %>
  </div>
  <div class="faq-header">
    <p>FAQ</p>
  </div>
  <div class="faq-section">
    <div class="faq-questions">
      <div class="faq-title">
        <p class='title-one'><span>When will I be charged and how do I get my wine?</span></p>
        <p class='line'></p>
      </div>
      <div class="faq-response">
        <p>You will be charged on the 15th of the month. The wines will be available for pick-up at Art Du Vin on the 1st of the following month (hopefully at our Pick Up Party so we can treat you and a guest to snacks and a special wine tasting!). For example, if you sign up on Feburary 10th, you will be charged on Feburary 15th, and you can pick up your wines on March 1.
        Party the first Wednesday of the month?</p>
      </div>
      <div class="faq-title">
        <p class='title-two'><span>What if I’m traveling and can’t pick up the wines for weeks?</span></p>
      </div>
      <div class="faq-response">
        <p>We’ve got you. We can keep your wines until the end of the month.</p>
      </div>
      <div class="faq-title">
        <p><span>What if I want to cancel?</span></p>
      </div>
      <div class="faq-response">
        <p>No problem! You can cancel any time before the 15th of the month to opt out of the next shipment. When you miss us, sign up again any time.</p>
      </div>
      <div class="faq-title">
        <p><span>Will you ship my wine?</span></p>
      </div>
      <div class="faq-questions">
        <p>Sorry, we are not yet ready for this step, but we are working on this option for the future.</p>
      </div>
    </div>
    <div class="faq-photo">
      <%= image_tag 'cal.png', width:'100%;' %>
    </div>
  </div>
</div>
